mixin article-preview(title, author, date, rubric, text)
  article.ArticleView.Col12.ColSm12.ColMd12.ColLg12.ColXl12
    h3.ArticleView-Title
      a.ArticleView-Link(href="#")= title
    div.ArticleView-Info
      p.ArticleView-Author
        a.ArticleView-InfoLink(href="#")= author
      p.ArticleView-Date= date
      p.ArticleView-Rubric
        a.ArticleView-InfoLink(href="#")= rubric
    div.ArticleView-Article
      p.ArticleView-Text= text
      p.ArticleView-Text= text
      p.ArticleView-Text= text
      ul.ArticleView-Text
        li First
        li Second

      p
        a(href="#").ArticleView-Readmore Read more

section.Content.Container
  .Block.Block_Left.Col12
    h1.ArticleView-RubricName Rubric's name
  .Block
    +article-preview(
      "Lorem ipsum dolor sit ametg",
      "Petrov AV, Ivanov PI",
      "12.12.3111",
      "rubric",
      "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae vel ut molestias autem commodi. Illum sequi, neque error repellat dolores non quas, explicabo adipisci cum laboriosam doloremque quidem quam hic?"
    )

    +article-preview(
      "Lorem ipsum dolor sit amet",
      "Petrov AV, Ivanov PI",
      "12.12.3111",
      "rubric",
      "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae vel ut molestias autem commodi. Illum sequi, neque error repellat dolores non quas, explicabo adipisci cum laboriosam doloremque quidem quam hic?"
    )

  nav.PageNav.Block
    a.page-numbers(href="#") Назад
    a.page-numbers(href="#") 1
    span.page-numbers.current 2
    a.page-numbers(href="#") 3
    a.page-numbers(href="#") 4
    a.page-numbers(href="#") Далее


    //p.Col12.ColSm6
      a.PageNav-Napravl(href="#") < Новые записи
    //p.Col12.ColSm6
      a.PageNav-Napravl(href="#") Старые записи >
